<!DOCTYPE html>
<html>
   <head>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>﻿
   </head>
    <body>
         <% include partials/nav.ejs %>
        <h1>This will be to tell the visitor that their info was put in  </h1>
        <p> Thats it</p>
    </body>
   
</html>