<!DOCTYPE html>
<html>
   <head>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>﻿
   </head>
    <body>
         <% include partials/nav.ejs %>
        <h1> You entered the wrong password </h1>
        <p> </p>
    </body>
   
</html>